body {
  background-color: #000000;
  align-content: center;
  display: flex;
  justify-content: center;
}

#wrapper {
  position: absolute;
  top: 40px;
  width: 1500px;
  height: 950px;
  background-color: #fffdfc;
  margin: auto auto;
}

#menu_bar {
  position: absolute;
  top: 0px;
  width: 1500px;
  height: 100px;
  background-color: rgba(231, 231, 231, 1);
  background-image: linear-gradient(
    90deg,
    rgba(231, 231, 231, 1) 0%,
    rgba(179, 179, 179, 1) 100%
  );
}

#menu {
  position: absolute;
  top: 38px;
  left: 250px;
  width: 500px;
  height: 60px;
  background: none;
}

.menu_item {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.menu_item:hover {
  color: yellow;
}

#logo {
  margin-top: 5px;
  margin-left: 30px;
}

#store_content {
  position: absolute;
  top: 100px;
  width: 1500px;
  height: 750px;
  background-image: url("./images/background_book.jpg");
}

#grid_books {
  display: grid;
  width: 520px;
  height: 690px;
  margin-left: 100px;
  margin-top: 30px;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 335px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.book_entry {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 250, 229, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 15px;
  border-color: rgb(255, 206, 116);
  border-width: 2px;
  border-style: solid;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  transition-duration: 0.6s;
}

.book_entry:hover {
  border-color: red;
}

.book1 {
  grid-area: 1 / 1 / 2 / 2;
}

.book2 {
  grid-area: 1 / 2 / 2 / 3;
}

.book3 {
  grid-area: 2 / 1 / 3 / 2;
}

.book4 {
  grid-area: 2 / 2 / 3 / 3;
}

.book_author {
  color: #0000ff;
  height: 20px;
  overflow: hidden;
  font-weight: 500;
}

.book_title {
  color: #222222;
  overflow: hidden;
  height: 40px;
  font-weight: 400;
}

.book_img_small {
  width: 180px;
  height: 210px;
  padding: 13px;
}

#button_previous {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-color: orange;
  border-width: 2px;
  background-color: #fafafa;
  margin-left: 30px;
  margin-top: -370px;
  text-align: center;
  font-size: 45px;
  color: orange;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

#button_next {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-style: solid;
  border-color: orange;
  border-width: 2px;
  background-color: #fafafa;
  margin-left: 635px;
  margin-top: -370px;
  text-align: center;
  font-size: 45px;
  color: orange;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.4s;
}

#button_previous:hover,
#button_next:hover {
  border-color: red;
  color: red;
}

#book_details {
  display: flex;
  position: absolute;
  width: 700px;
  height: 600px;
  border-radius: 25px;
  border-style: solid;
  border-color: orange;
  border-width: 2px;
  top: 70px;
  right: 50px;
  background: rgba(230, 230, 230, 0.85);
  visibility: hidden;
}

.book_details_author {
  position: absolute;
  top: 30px;
  left: 400px;
  width: 280px;
  height: 90px;
  color: #753900;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  overflow: hidden;
}

.book_details_title {
  position: absolute;
  top: 130px;
  left: 400px;
  width: 280px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
}

.book_details_description {
  position: absolute;
  top: 210px;
  left: 400px;
  width: 280px;
  height: 240px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
}

.book_img_big {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 360px;
  height: 420px;
}

#book_details_close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#book_details_close:hover {
  color: red;
  cursor: pointer;
}

#book_details_price {
  position: absolute;
  width: 280px;
  height: 30px;
  background-color: none;
  bottom: 70px;
  left: 50px;
  text-align: center;
}

.book_details_price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(77, 77, 77);
}

#book_details_price_value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 4px;
}

#book_details_button {
  position: absolute;
  width: 210px;
  height: 50px;
  bottom: 55px;
  right: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
  background-color: rgb(189, 189, 189);
  border-radius: 6px;
  box-shadow: #505050 2px 2px 10px;
}

#book_details_button:hover {
  background-color: lightgreen;
  box-shadow: #3f8d00 2px 2px 10px;
}
