body {
  background-color: #000000;
  align-content: center;
  display: flex;
  justify-content: center;
}

#wrapper {
  position: absolute;
  top: 40px;
  width: 1500px;
  height: 950px;
  background-color: #fffdfc;
  margin: auto auto;
}

#menu_bar {
  position: absolute;
  top: 0px;
  width: 1500px;
  height: 100px;
  background-color: rgb(24, 24, 24);
  background-image: url("./images/background_menu.jpg");
}

#menu {
  position: absolute;
  top: 38px;
  left: 800px;
  width: 1200px;
  height: 60px;
  background: none;
}

.menu_item {
  color: #aaaaaa;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.menu_item:hover {
  color: yellow;
  text-shadow: 0px 0px 8px rgba(255, 234, 0, 1);
}

#logo {
  margin-top: 5px;
  margin-left: 30px;
}

#menu_basket_img {
  position: absolute;
  top: -18px;
  left: 580px;
  z-index: 1;
  cursor: pointer;
}

#menu_basket_value {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  left: 645px;
  z-index: 2;
  top: 9px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
}

#about_us {
  position: absolute;
  width: 1400px;
  height: 650px;
  margin-left: 50px;
  margin-top: 150px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(153, 153, 153);
  background: rgba(210, 210, 210, 1);
  background-image: url("./images/aboutus1.jpg");
  border-radius: 10px;
  visibility: hidden;
  z-index: 4;
}

#about_us_close {
  position: absolute;
  top: 28px;
  right: 37px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: black;
}

#about_us_close:hover {
  color: red;
  cursor: pointer;
}

#store_content {
  position: absolute;
  top: 100px;
  width: 1500px;
  height: 750px;
  background-image: url("./images/background_book4.jpg");
}

#grid_books {
  display: grid;
  width: 520px;
  height: 690px;
  margin-left: 100px;
  margin-top: 30px;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(2, 335px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.book_entry {
  background: rgba(210, 210, 210, 0.65);
  border-radius: 15px;
  border-color: rgb(92, 92, 92);
  border-width: 3px;
  border-style: solid;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: black;
  cursor: pointer;
}

.book_entry:hover {
  border-color: rgb(16, 255, 76);
  box-shadow: 0px 0px 24px 0px rgba(58, 255, 116, 1);
  background: rgba(210, 210, 210, 0.85);
  transition-duration: 0.6s;
}

.book1 {
  grid-area: 1 / 1 / 2 / 2;
}

.book2 {
  grid-area: 1 / 2 / 2 / 3;
}

.book3 {
  grid-area: 2 / 1 / 3 / 2;
}

.book4 {
  grid-area: 2 / 2 / 3 / 3;
}

.book_author {
  color: #0000ff;
  height: 20px;
  overflow: hidden;
  font-weight: 500;
}

.book_title {
  color: #222222;
  overflow: hidden;
  height: 40px;
  font-weight: 400;
}

.book_img_small {
  width: 180px;
  height: 210px;
  padding: 13px;
}

#button_previous {
  position: absolute;
  width: 53px;
  height: 30px;
  margin-left: 30px;
  margin-top: -370px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: none;
}

#button_next {
  position: absolute;
  width: 53px;
  height: 30px;
  margin-left: 635px;
  margin-top: -370px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#button_previous:hover {
  margin-left: 20px;
}

#button_next:hover {
  margin-left: 645px;
}

#book_details {
  display: flex;
  position: absolute;
  width: 700px;
  height: 600px;
  border-radius: 25px;
  border-style: solid;
  border-color: orange;
  border-width: 2px;
  top: 70px;
  right: 50px;
  background: rgba(230, 230, 230, 0.85);
  visibility: hidden;
}

.book_details_author {
  position: absolute;
  top: 30px;
  left: 400px;
  width: 280px;
  height: 90px;
  color: #753900;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  overflow: hidden;
}

.book_details_title {
  position: absolute;
  top: 130px;
  left: 400px;
  width: 280px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
}

.book_details_description {
  position: absolute;
  top: 210px;
  left: 400px;
  width: 280px;
  height: 240px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
}

.book_img_big {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 360px;
  height: 420px;
}

#book_details_close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

#book_details_close:hover {
  color: red;
  cursor: pointer;
}

#book_details_price {
  position: absolute;
  width: 280px;
  height: 30px;
  background-color: none;
  bottom: 70px;
  left: 50px;
  text-align: center;
}

.book_details_price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(77, 77, 77);
}

#book_details_price_value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: rgb(0, 0, 0);
  padding-left: 10px;
  padding-right: 4px;
}

#book_details_button {
  position: absolute;
  width: 210px;
  height: 50px;
  bottom: 55px;
  right: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(189, 189, 189);
  border-radius: 6px;
  box-shadow: #505050 2px 2px 10px;
}

#book_details_button:hover {
  background-color: lightgreen;
  box-shadow: #3f8d00 2px 2px 10px;
  transition-duration: 0.4s;
}

#background_change {
  position: absolute;
  bottom: 110px;
  right: 20px;
  height: 30px;
  width: 140px;
}

#background_previous_button {
  transition: 0.4s;
  cursor: pointer;
  background: none;
  padding-left: 10px;
}

#background_next_button {
  transition: 0.4s;
  cursor: pointer;
  padding-left: 14px;
  background: none;
}

#background_previous_button:hover {
  padding-left: 0px;
  padding-right: 10px;
}

#background_next_button:hover {
  padding-left: 24px;
}

#order_page {
  position: absolute;
  width: 1400px;
  height: 650px;
  margin-left: 50px;
  margin-top: 150px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(153, 153, 153);
  background: rgba(210, 210, 210, 1);
  background-image: url("./images/orderpage.jpg");
  border-radius: 10px;
  visibility: hidden;
  z-index: 5;
}

#order_page_close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: black;
}

#order_page_close:hover {
  color: red;
  cursor: pointer;
}

#order_main {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: black;
}

#order_list {
  position: absolute;
  top: 60px;
  left: 40px;
  width: 1300px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(46, 46, 46);
}

.order_item {
  font-family: "Montserrat", sans-serif;
  height: 25px;
}

.order_item_author {
  font-weight: 700;
  font-size: 20px;
  color: rgb(90, 90, 90);
  width: 300px;
}

.order_item_title {
  font-weight: 500;
  font-size: 20px;
  color: rgb(33, 33, 33);
  padding-left: 30px;
  width: 700px;
}

.order_item_price_2 {
  position: absolute;
  right: 40px;
  font-weight: 700;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.remove_button {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 0px;
  border-color: rgb(77, 77, 77);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

.remove_button:hover {
  color: red;
  cursor: pointer;
  border-color: red;
}

.remove_button_text {
  font-size: 17px;
}

#order_total {
  position: absolute;
  top: 500px;
  left: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: rgb(46, 46, 46);
}

#order_total_value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  padding-left: 20px;
  color: rgb(172, 0, 0);
}

#order_page_button {
  position: absolute;
  width: 300px;
  height: 50px;
  bottom: 40px;
  left: 550px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(49, 49, 49);
}

#order_page_button:hover {
  color: black;
  background: lightgreen;
  transition: 0.4s;
}

#footer {
  position: absolute;
  bottom: 0px;
  width: 1500px;
  height: 100px;
  background-color: rgb(24, 24, 24);
  background-image: url("./images/background_footer.jpg");
}
